[submodule "Source/ThirdParty/SDL"]
	path = Source/ThirdParty/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "Source/ThirdParty/spdlog"]
	path = Source/ThirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
